@{
    ViewData["Title"] = "Federico Celico, Analista Programador .NET";
}

<div class="container-fluid no-padding ml-5">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Resources/Encabezado.jpg" border="0" alt="Fede">
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <h1>Federico Roberto Celico</h1>
</div>


<div class="container align-content-center mt-5">
    <div class="row justify-content-md-center">

        <div class="col-md-auto">Nacionalidad: Argentino</div>
        <div class="col-md-auto">|</div>
        <div class="col-md-auto">Edad: 32</div>
        <div class="col-md-auto">|</div>
        <div class="col-md-auto">Estado Civil: Soltero</div>
    </div>
</div>

<div class="container align-content-center mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-auto"><img src="~/Resources/mail.jpg" alt="mail" /> Federico.Celico87@gmail.com</div>
        <div class="col-md-auto"><img src="~/Resources/telefono.jpg" alt="telefono" />15 3036 - 0984</div>
        <div class="col-md-auto"><img src="~/Resources/direccion.jpg" alt="direccion" />Av. San Juan 3618 (1233), Boedo C.A.B.A.</div>
    </div>
</div>
<div>
    <hr style="color:black; background-color:black;" />
</div>
<div class="text-center mt-3">
    <h1>LOGROS OBTENIDOS</h1>
</div>
<div>
    <p class="text-center">
        Organización del área de trabajo, estabilización de las redes e infraestructura.<br />

        Implementación de nuevas tecnologías potenciando el desarrollo y agilidad del trabajo<br />

        diario de la empresa.<br />
    </p>
</div>
<div>
    <hr style="color:black; background-color:black;" />
</div>
<div class="text-center mt-5" id="formacion">
    <h1>FORMACIÓN ACADÉMICA</h1>
</div>
<div class="container align-content-center mt-3">
    <div class="row justify-content-md-center">
        <ul>
            <li> 2017 Fundamentos de la programación. | Universidad Tecnológica Nacional (UTN), Prov. de Bs. As.</li>

            <li>2019 Ingeniería en Informática Universidad Nacional de la Matanza. Segundo año.</li>

            <li>2019 Diplomatura en Programación .NET. | Universidad Tecnológica Nacional (UTN)</li>

            <li>2020 Programación Web con C# .NET | EducaciónIT</li>

            <li>2020 Developing MVC 5 Web Applications con NET Core | EducaciónIT</li>
        </ul>

    </div>
</div>
<div class="text-center mt-5" id="habilidades">
    <h1>HABILIDADES</h1>
</div>
<div class="container align-content-center mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h3>Sistemas</h3>
            <ul>
                <li>Windows en todas sus versiones.</li>
                <li>Linux: Kali Linux y Debian.</li>
                <li>Paquete Office.</li>
                <li>Users: Armado y  Reparación de Redes</li>
            </ul>
            <h4>Idiomas</h4>
            <p>Inglés: Nivel Técnico/Medio</p>
        </div>

        <div class="col-md-auto">
            <h3>Programación</h3>
            <ul>
                <li>VB, C# .NET</li>
                <li>C</li>
                <li>JavaScript Nivel Básico</li>
                <li>Introducción a Angular</li>
                <li>SQL Server</li>
                <li>NetCore 2.2 y 3.0 (unicamente uso de API’s)</li>
                <li>CSS</li>
                <li>HTML5</li>
            </ul>
        </div>

    </div>
</div>
<div id="experiencia">
    <hr style="color:black; background-color:black;" />
    <h1 class="font-weight-bold text-center">EXPERIENCIA LABORAL</h1>
    <hr style="color:black; background-color:black;" />
</div>
<div>
    <h4 class="font-weight-bold" style="margin:0;display:inline">Calzados Chueko´S |</h4><h4 style="margin:0;display:inline;"> 2007 - 2019</h4><br />
    <p class="font-weight-bold" style="margin:0;display:inline">Cargo: </p><p style="margin:0;display:inline;">Administrador de Sistemas.</p><br />
    <p class="font-weight-bold">Función:</p>
    <p>
        Responsable del mantenimiento, control y<br />
        adecuación de la infraestructura informática.<br />
        Gestión integral de redes de datos, telefonía, servicios<br />
        Wireless y servidores.<br />
        Reparación y actualización de los puntos de venta y<br />
        servidor local (Windows Server 2003), mantenimiento del<br />
        software de gestión.<br />
        Administración de puestos de trabajo<br />
        en Active Directory con Windows Server 2003.<br />
        Implementación de nuevas tecnologías y procesos, entre<br />
        otras.<br />
        Belgrano 124, Morón.
    </p>
</div>
<div>
    <h4 class="font-weight-bold" style="margin:0;display:inline">Accusys technology |</h4><h4 style="margin:0;display:inline;"> 2019 - Actualidad</h4><br />
    <p class="font-weight-bold" style="margin:0;display:inline">Cargo: </p><p style="margin:0;display:inline;">Analista Programador .NET</p><br />
    <p class="font-weight-bold">Función:</p>
    <p>
        Activities Manager: Software de escritorio desarrollado en<br />
        C# y VB para la administración de actividades empresariales<br />
        con etapas obligatorias establecidas. Empresas que poseen el<br />
        software y para las que hacemos constantes modificaciones y<br />
        funcionalidades nuevas: Banco Macro, Banco Ciudad, Banco<br />
        Columbia, OSDE, etc. Desarrollo de nuevas características<br />
        y mantenimiento de la misma.<br />
        API Rest: Desarrollamos diversas API´s para el Banco Ciudad<br />
        las cuales consistían en recibir un JSON del sistema<br />
        bancario Cobis y transformarlo a XML para luego enviarlo<br />
        al Web Service. Desarrollo de nuevas características<br />
        y mantenimiento de la misma.<br />
        Probach: Sistema WorkLoad, mantenimiento tanto del software<br />
        de automatización de procesos como de la DB. El sistema<br />
        consiste en la programación de un listado de comandos ya sean<br />
        Windows, Linux, Unix entre otros SO que se ejecutan a<br />
        determinado día y hora. Desarrollo de nuevas características<br />
        y mantenimiento de la misma.<br />
        Integrador TFS: Es un servicio que corre en un servidor Windows<br />
        que se encarga de levantar los datos de una DB y grabar<br />
        en otra DB, pero su principal característica es la de respaldar en<br />
        TFS tanto Features como Bugs. Desarrollo de nuevas características<br />
        y mantenimiento de la misma.<br />
        Avenida Corrientes 569, Capital Federal.
    </p>
</div>